h2 {
    font-size: 22px;
    text-align: left;
    clear: left;
    display: inline-block;
    vertical-align: bottom;
}

.cv-date {
    text-align: right;
    float: right;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.contact-box {
    text-align: left;
    clear: right;
    display: inline-block;
}

.job-description {
    /*float: left;*/
    clear: left;
    font-color: #333;
}
