h2 {
    font-size: 22px;
    text-align: left;
    clear: left;
    display: inline;
}

.cv-date {
    text-align: right;
    clear: right;
    height: 30px;
}

.contact-box {
    text-align: right;
    clear: right;
}

.job-description {
    /*float: left;*/
    clear: left;
    font-color: #333;
}
