.cv-page div {
	display: flex !important;  
	flex-wrap: wrap !important;
	margin: 0px;
	padding: 0px;
}

[id]::before {
    content: '';
    display: block;
    height:      50px;
    margin-top: -50px;
    visibility: hidden;
  }

.contact-box {
	padding-bottom: 4em !important;
}

.job-item h3 {
	font-weight: 1.2em !important;
	margin: 0px;
	font-size: 1.2em;
}

.job-headline {
	width: 100%;
}

.cv-page {
	position: relative;
}

.cv-page h2 {
	padding-bottom: 20px;
}

.job-item {
    padding-top: 30px;   
}

.job-headline {
	justify-content: space-between;
}

.cv-date {
	margin: 0xp !important;
	padding: 0px !important;
}

.job-item {
	display: block !important;
	padding-bottom: 30px !important;
}

.job-item ul {
	margin: 0px !important;
	padding: 0px !important;
	margin-left: 1.35em !important;
}
.job-item li {
	margin: 0px !important;
	padding: 0px !important;
}

.skills-container ul {
	margin-left: 1.35em !important;
}
