
@font-face {
	font-family: OpenSans;
	font-weight: italic;
	src: url('/media/opensans/opensans-italic-variable_font_wdth,wght.ttf');
}

@font-face {
	font-family: OpenSans;
	font-weight: normal;
	src: url('/media/opensans/opensans-regular-variable_font-wdth,wght.ttf');
}

* {
	font-family: -apple-system, BlinkMacSystemFont,  sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

.container {
	position: relative;
	/* margin: 0 auto;  */
	padding: 0;
	display: flex;
}

.sidebar {
	width: 390px;
	float: left;

}

body,
.content,
.container {
	box-sizing: border-box;
}

body,
.container {
	height: 100%;
}

.content {
	width: 800px;
}
.scroll {
	height: 100%;
	width: 100%;
	overflow-y: scroll
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fff;
	font: 14px/21px "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #181818;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
}

h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}

h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 4px;
}

h5 {
	font-size: 17px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

.subheader {
	color: #777;
}

p {
	margin: 0 0 20px 0;
}

p img {
	margin: 0;
}

p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	color: #333;
}

small {
	font-size: 80%;
}

blockquote,
blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}

blockquote {
	margin: 0px;
	padding: 0px 20px 0 15px;
	border-left: 2px solid #ddd;
}

blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
	color: {
			{
			site.colors.highlight
		}
	}

	;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

a,
a:visited {
	color: #333;
	text-decoration: underline;
	outline: 0;
}

a:hover,
a:focus {
	color: #000;
}

p a,
p a:visited {
	line-height: inherit;
}

ul,
ol {
	margin-bottom: 20px;
}

ul {
	list-style: none outside;
}

ol {
	list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
	margin-left: 30px;
}

ul.square {
	list-style: square outside;
}

ul.circle {
	list-style: circle outside;
}

ul.disc {
	list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 4px 0 5px 30px;
	font-size: 90%;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
	margin-bottom: 6px;
}

li {
	line-height: 18px;
	margin-bottom: 12px;
}

ul.large li {
	line-height: 21px;
}

li p {
	line-height: 21px;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

ul.tabs {
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: solid 1px #ddd;
}

ul.tabs li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin-bottom: 0;
}

ul.tabs li a {
	display: block;
	text-decoration: none;
	width: auto;
	height: 29px;
	padding: 0px 20px;
	line-height: 30px;
	border: solid 1px #ddd;
	border-width: 1px 1px 0 0;
	margin: 0;
	background: #f5f5f5;
	font-size: 13px;
}

ul.tabs li a.active {
	background: #fff;
	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	color: #111;
}

ul.tabs-content {
	margin: 0;
	display: block;
}

ul.tabs-content>li {
	display: none;
}

ul.tabs-content>li.active {
	display: block;
}

ul.tabs:before,
ul.tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

ul.tabs:after {
	clear: both;
}

ul.tabs {
	zoom: 1;
}

label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}


thead {
	border-bottom: solid #0060ad;
	font-weight: bold;
	color: #0060ad;
}

thead th {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
}

tbody td {
	padding: 5px;
}

table {
	margin-left: auto;
	margin-right: auto;
}



html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	background-color: white;
	color: #222222;
	line-height: 24px;
	margin: 0;

	border-top: 7px solid #0060ad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #181818;
	font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 600;
}

h1.title {
	font-weight: 800;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 21px;
	line-height: 24px;
	margin: 1em 0;
}

ul {
	margin: 1em 0;
	list-style: disc;
}

a {
	color: #0060ad;
	text-decoration: none;
}

a:hover {
	color: #0060ad;
	text-decoration: underline;
}

a:visited {
	color: #0060ad;
}

table {
	font-size: inherit;
	font: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul.posts {
	margin-top: 0;
	list-style-type: none;
	margin-bottom: 10px;
}

ul.posts li {
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 0px;
}

ul.posts span {
	font-family: 'Lucida Console', 'Andale Mono', monospace;
	color: #aaa;
	padding-right: 5px;
	font-size: 14px;
}

.site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	overflow: hidden;
}

nav h1,
nav h2 {
	text-align: center;
}

#post pre {
	border: 0px solid #ddd;
	background-color: #005fad06 !important;
	padding: 0 .4em;
	margin-bottom: 20px !important;
	border-color: #005fad43 !important;
}

#post ul,
#post ol {
	margin-left: 1.35em;
}

#post code {
	border: 1px solid #ddd;
	background-color: #eef;
	font-size: 85%;
	padding: 0 .2em;
}

#post pre code {
	border: none;
}

.sidebar {
	padding-top: 25px;
	font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
}

.sidebar p {
	font-weight: 200;
}

.sidebar a {
	font-weight: 600;
}

.content {
	font: 400 16px/22px  -apple-system, BlinkMacSystemFont, sans-serif;
	border-left: 1px solid #DDD;
	padding-left: 40px;
	padding-top: 25px;
	min-height: 400px;
}

#home h2 {
	color: #0060ad;
}

#post pre {
	background-color: white;
	border-left: 12px solid #eee;
	padding: 0 .8em;
}

#post code {
	background-color: transparent;
}

#stalker {
	float: inherit;
}
.highlight {
    background-color: white;
    color: #586e75;
    font-weight: bold;
}

.highlight .c {
    color: #586e75 !important;
    font-style: italic !important
}

p:has(img) {
    background-color: #005fad06;
    border-left: 12px solid #005fad43;
}

p > img {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

p:has(svg) {
    background-color: #005fad06;
    border-left: 12px solid #005fad43;
}

p > svg {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.highlight .cm {
    color: #586e75 !important;
    font-style: italic !important
}

.highlight .cp {
    color: #586e75 !important;
    font-style: italic !important
}

.highlight .c1 {
    color: #586e75 !important;
    font-style: italic !important
}

.highlight .cs {
    color: #586e75 !important;
    font-weight: bold !important;
    font-style: italic !important
}

.highlight .err {
    color: #dc322f !important;
    background: none !important
}

.highlight .k {
    color: #cb4b16 !important;
}

.highlight .o {
    color: #586e75 !important;
    font-weight: bold !important
}

.highlight .p {
    color: #586e75 !important
}

.highlight .ow {
    color: #2aa198 !important;
    font-weight: bold !important
}

.highlight .gd {
    color: #586e75 !important;
    background-color: #372c34 !important;
    display: inline-block
}

.highlight .gd .x {
    color: #586e75 !important;
    background-color: #4d2d33 !important;
    display: inline-block
}

.highlight .ge {
    color: #586e75 !important;
    font-style: italic !important
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #586e75 !important
}

.highlight .gi {
    color: #586e75 !important;
    background-color: #1a412b !important;
    display: inline-block
}

.highlight .gi .x {
    color: #586e75 !important;
    background-color: #355720 !important;
    display: inline-block
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #555555
}

.highlight .gs {
    color: #586e75 !important;
    font-weight: bold !important
}

.highlight .gu {
    color: #6c71c4 !important
}

.highlight .gt {
    color: #aa0000
}

.highlight .kc {
    color: #859900 !important;
    font-weight: bold !important
}

.highlight .kd {
    color: #0060ad !important
}

.highlight .kp {
    color: #cb4b16 !important;
    font-weight: bold !important
}

.highlight .kr {
    color: #d33682 !important;
    font-weight: bold !important
}

.highlight .kt {
    color: #2aa198 !important
}

.highlight .n {
    color: #0060ad !important
}

.highlight .na {
    color: #0060ad !important
}

.highlight .nb {
    color: #859900 !important
}

.highlight .nc {
    color: #d33682 !important
}

.highlight .no {
    color: #b58900 !important
}

.highlight .ni {
    color: #800080
}

.highlight .nl {
    color: #859900 !important
}

.highlight .ne {
    color: #0060ad !important;
    font-weight: bold !important
}

.highlight .nf {
    color: #0060ad !important;
    font-weight: bold !important
}

.highlight .nn {
    color: #b58900 !important
}

.highlight .nt {
    color: #0060ad !important;
    font-weight: bold !important
}

.highlight .nx {
    color: #b58900 !important
}

.highlight .bp {
    color: #999999
}

.highlight .vc {
    color: #008080
}

.highlight .vg {
    color: #0060ad !important
}

.highlight .vi {
    color: #0060ad !important
}

.highlight .nv {
    color: #0060ad !important
}

.highlight .w {
    color: #bbbbbb
}

.highlight .mf {
    color: #2aa198 !important
}

.highlight .m {
    color: #2aa198 !important
}

.highlight .mh {
    color: #2aa198 !important
}

.highlight .mi {
    color: #2aa198 !important
}

.highlight .mo {
    color: #009999
}

.highlight .s {
    color: #2aa198 !important
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #2aa198 !important
}

.highlight .s2 {
    color: #2aa198 !important
}

.highlight .se {
    color: #dc322f !important
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #0060ad !important
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #2aa198 !important
}

.highlight .s1 {
    color: #2aa198 !important
}

.highlight .ss {
    color: #990073
}

.highlight .il {
    color: #009999
}

.highlight div .gd,
.highlight div .gd .x,
.highlight div .gi,
.highlight div .gi .x {
    display: inline-block;
    width: 100%
}

pre {
    white-space: pre;
    overflow: auto;
}

code,
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.cv-page div {
	display: flex !important;  
	flex-wrap: wrap !important;
	margin: 0px;
	padding: 0px;
}

.contact-box {
	padding-bottom: 4em !important;
}

.job-item h3 {
	font-weight: 1.2em !important;
	margin: 0px;
	font-size: 1.2em;
}

.job-headline {
	width: 100%;
}

.cv-page {
	position: relative;
}

.cv-page h2 {
	padding-bottom: 20px;
}

.job-item {
    padding-top: 30px;   
}

.job-headline {
	justify-content: space-between;
}

.cv-date {
	margin: 0xp !important;
	padding: 0px !important;
}

.job-item {
	display: block !important;
	padding-bottom: 30px !important;
}

.job-item ul {
	margin: 0px !important;
	padding: 0px !important;
	margin-left: 1.35em !important;
}
.job-item li {
	margin: 0px !important;
	padding: 0px !important;
}

.skills-container ul {
	margin-left: 1.35em !important;
}
