<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Artur Gurgul - {{ page.title }}</title>
  <meta name="author" content="Artur Gurgul" />
  <meta name="description" content="The blog of {{ site.data.theme.name }}" />
  
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />
  <link rel="stylesheet" href="/assets/css/all.css">

  <style>
    #post pre {
      background-color: white;
      border-left: 12px solid #eee;
      padding: 0 .8em;
    }

    #post code {
      background-color: transparent;
    }

    #stalker {
      float: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="four columns sidebar no-print">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {{ content }}
        
    <ul class="tag_list_in_post">{% for tag in page.tags %}<li class="inline tag_list_item"><a class="tag_list_link" href="/tag/{{ tag  }}">{{ tag  }}</a></li>{% endfor %}</ul>
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

  {% include analytics.html %}
</body>
</html>
