<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Artur Gurgul - {{ page.title }}</title>
  <meta name="author" content="Artur Gurgul" />
  <meta name="description" content="The blog of {{ site.data.theme.name }}" />
  
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />
  <link rel="stylesheet" href="/assets/css/all.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      {% include sidebar.html %}
    </div>

    <div class="scroll">
      <div class="content">
        {{ content }}
          
       <div class="footer">
          {% include footer.html %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
